extends layout.pug

block content 
    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger Ürün Silindi.

    if (action !== 'undefined' && action === 'edit')
        div.alert.alert-success Ürün Güncellendi.
    

    if products.length > 0
        table.table.table-bordered
            thead
                tr
                    th Ürün Adı
                    th(style="width:150px;") Fiyat
                    th(style="width:133px;")
            tbody
                each product in products
                    tr
                        
                        td #{product.name}
                        td #{product.price} TL
                        td #{product.description}
                        td 
                            a.btn.btn-secondary.btn-sm.mr-2(href=`/admin/products/${product.id}`) Güncelle

                            form(action='/admin/delete-product' method='POST')
                                input(type='hidden' name='productid' value=`${product.id}`)
                                button(type='submit').btn.btn-danger.btn-sm Sil
    else
        h1 No Products                        